/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
} */

.media-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 80vw;
    margin: auto;
}

.media-grid video, .media-grid img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 800px) {
    .media-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
    }
}
